%table
  %tr
    %td Sender
    %td Subject
    %td Date
  %tr{ng: {repeat: 'message in messages'}}
    %td {{message.sender}}
    %td= link_to "{{message.subject}}", "#/view/{{message.id}}"
    %td {{message.date}}


